@charset "utf-8";

/*---Resume Styling---*/
#resume-box {
	position: absolute;
	bottom: -70px;
	right: 20px;
	height: 65px;
	width: 115px;
}
#resume {
	width: 100px;
	height: 50px;
	background: black;
	margin-bottom: 15px;
	border-radius: 25px;
	transition: 0.5s;
	transition-property: all;
}

.resume-name {
	padding-top: 0px;
	transition-property: all;
	transition: 0.5s;
	height: 50px;
}

.fadeIn {
opacity: 1;
animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% { opacity: 0; visibility: hidden}
  100% { opacity: 1; visibility: visible};
}

.fadeOut {
    opacity: 0;
	animation: fadeOut 1s linear;
}

@keyframes fadeOut {
    0% { opacity: 1; visibility: visible}
    100% { opacity: 0; visibility: hidden};
}

/* --- Styling for Background ---*/
#background {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow-y: hidden;
	background-image: url("../images/Millions-of-stars-dark.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-position:center;
}

.background-image {
	overflow: hidden;
	height: 100%;
	width: 100%;
	transition: 0.25s;
	background-repeat: no-repeat;
	background-size: cover;
}

.videoContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hider {
	opacity:0;
}

#display {
	justify-content: center;
	width: 140px;
	height: 140px;
	margin: 0 auto;
	padding-top: 60px;
}

@media (max-width : 739px ){
#resume-box{
	right: 0px;
	width: 110px;
}
#resume{
	margin-bottom: 25px;
}
}