@charset "utf-8";

/*---Resume Styling---*/
#resume-box {
	position: absolute;
	bottom: -70px;
	right: 0px;
	height: 70px;
	width: 115px;
	background-color: #2B2B2B;
}
#resume {
	width: 100px;
	height: 50px;
	background: black;
	margin-bottom: 15px;
	border-radius: 25px;
	transition: 0.5s;
	transition-property: all;
}

.resume-name {
	padding-top: 0px;
	transition-property: all;
	transition: 0.5s;
	height: 50px;
}

.fadeIn {
opacity: 1;
animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% { opacity: 0; visibility: hidden}
  100% { opacity: 1; visibility: visible};
}

.fadeOut {
    opacity: 0;
	animation: fadeOut 1s linear;
}

@keyframes fadeOut {
    0% { opacity: 1; visibility: visible}
    100% { opacity: 0; visibility: hidden};
}

/* --- Styling for Background ---*/
#background {
	width: 100%;
	height: 100%;
}

body {
	overflow-y: scroll;
	background-color: #2B2B2B;
}

.background-image {
	overflow: hidden;
	height: 100%;
	width: 100%;
	transition: 0.25s;
	background-repeat: no-repeat;
	background-size: cover;
}

.videoContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}

.hider {
	opacity:0;
}

/*---Progress-bar---*/ 
  .progress {
	background: rgba(255,255,255,0.1);
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	display: inline-flex;
	position: relative;
	height: 20px;
	width: 130px;
  }
  
  .progress-value {
	animation: load 3s normal forwards;
	box-shadow: 0 10px 40px -10px #fff;
	border-radius: 100px;
	background: #fff;
	height: 30px;
	width: 0;
  }

  @keyframes load {
	0% { width: 0; }
	100% { width: 100%; }
  }

  #display {
	justify-content: center;
	width: 140px;
	height: 140px;
	margin: 0 auto;
	padding-top: 60px;
}

@media (max-width : 739px ){
#resume{
	margin-bottom: 25px;
}
}