@charset "utf-8";

/*--- Loading Screen---*/
#loadScreen {
	background-color:#2b2b2b;
	width: 100%;
	height: 200%;
	justify-content: center;
	text-align: center;
	align-items: center;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#logoLoad {
	display: inline-block;
	overflow-x: hidden;
	vertical-align: center;
	position: flex;
	left: 0px;
	top: 0px;
	padding-top: 20%;
	padding-left: 0px;
	font-size: 70px;
}

.spin {
	animation: spin 5s linear infinite;
}

@keyframes spin {
    from {transform:rotatey(0deg);}
    to {transform:rotatey(360deg);}
}

/* --- Background ---*/
#background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#backgroundChild {
	height: 100%;
	background-image: url("../images/home/Millions-of-starts-Matt-Cool.png");
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

.background-image {
	overflow: hidden;
	height: 100%;
	width: 100%;
	transition: 0.25s;
	background-repeat: no-repeat;
	background-size: cover;
}

/* --- Video --- */
.videoContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fadeIn {
opacity: 1;
animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% { opacity: 0; visibility: hidden}
  100% { opacity: 1; visibility: visible};
}

.fadeOut {
    opacity: 0;
	animation: fadeOut 1s linear;
	z-index: -4;
}

@keyframes fadeOut {
    0% { opacity: 1; visibility: visible}
    100% { opacity: 0; visibility: hidden};
}

.hider {
	opacity:0;
}

/* --- Content Section --- */
.content {
	position: absolute;
	left: 0px;
	top: 120%;
	height: 80%;
	min-height: 580px;
	width: 100%;
	background: #2b2b2b;
}

.text {
	font-size: 20px;
	color: #d3d3d3;
	text-align: left;
	font-weight: bold;
}

/* --- Social Media --- */
#bottomBar {
	width: 100%;
	height: 80px;
	background-color: black !important;
	position: absolute;
	left: 0px;
	bottom: -80px;
}

#container {
	width: 50%;
	height: 100%;
	min-width: 260px;
}

.socialMedia {
	position: relative;
	display: inline-block;
	width: 31%;
	height: 100%;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-width: 50px;
}

.button {
	background-color: #171516;
	border: none;
	color: white;
	padding: 50%;
	text-align: center;
	text-decoration: none;
	position: relative;
	display: inline-block;
	margin-top: 15px;
	margin-left: auto;
	border-radius: 50%;
	transition-property: all;
	transition-duration: 0.2s;
  }

  .button:hover {
	  transform: scale(1.2);
  }

.center {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.twoCol {
	width: 42%;
	height: 100%;
	position: relative;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
}

.leftCol {
	margin-right: 2.5%;
}

.rightCol {
	margin-left: 2.5%;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.title {
	padding-left: 0px;
	color: #d3d3d3;
	font-size: 30px;
	padding-bottom: 20px;
	font-weight: bold;
}

#pic {
	background-image: url("../images/home/personal_photo1.jpg");
	width: 80%;
	height: 80%;
	max-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	margin-left: 10%;
	margin-right: 10%;
}

@media (max-width: 410px) {
	.text{
		font-size: 16px;
	}
}

@media (max-height: 900px) {
	.content {
		top: 100%;
		margin-top: 180px;
	}
}

@media (max-width: 739px) {
	.twoCol{
		height: 50%;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.rightCol{
		height: 40%;
	}
	#pic {
		margin-left: 25%;
		margin-right: 25%;
		width: 50%;
		height: 100%;
	}
}

/* --- Resume Section --- */
#resume {
	width: 100%;
	height: 20%;
	position: absolute;
	top: 100%;
	left: 0px;
	background-color: #1e1e1e;
	justify-content: center;
	align-content: center;
	min-height: 180px;
}

#resumeText {
	font-size: 30px;
	font-weight: bold;
	position: relative;
	display: inline-block;
	color: #d3d3d3;
	width: 100%;
	height: 50%;
	text-justify: center;
	text-align: center;
}

#resumeButton {
	width: 120px;
	height: 45px;
	font-size: 10px;
	background-color: green;
	transition-property: all;
	transition-duration: 0.2s; 
}

#resumeButton:hover {
	transform: scale(1.15);

}

.doubleStack {
	width: 100%;
	height: 50%;
	position: relative;
	display: inline-block;
}

@media (max-width: 358px) {
	#resume {
		min-height: 215px;
	}

	.vertical {
		position: relative;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	#resumeButton:hover {
		transform: translateY(-50%) scale(1.15); 
	}
}

/* --- Progress Bar ---
.progress-value {
    animation: load 700ms normal forwards;
    background-color: red;
    height: 30px;
    width: 0px;
  }

  @keyframes load {
    0% { width: 0; }
    100% { width: 90px; }
  }
*/  