#img1{
    background-image: url(../images/project/websiteBack1.jpeg);
    min-height: 100%;
}

/*--- Social Media ---*/
#bottomBar {
	width: 100%;
	height: 80px;;
	background-color: black !important;
	position: relative;
    margin-top: 0px;
	
}

.socialMedia {
	position: relative;
	display: inline-block;
	width: 31%;
	height: 100%;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-width: 50px;
}

.button {
	background-color: #171516;
	border: none;
	color: white;
	padding: 50%;
	text-align: center;
	text-decoration: none;
	position: relative;
	display: inline-block;
	margin-top: 15px;
	margin-left: auto;
	border-radius: 50%;
	transition-property: all;
	transition-duration: 0.2s;
  }

  .button:hover {
	  transform: scale(1.2);
  }

  .background-image {
	overflow: hidden;
	height: 100%;
	width: 100%;
	transition: 0.25s;
	background-repeat: no-repeat;
    background-size: cover;
}

#container {
	width: 42%;
	height: 100%;
	min-width: 235px;
}