@charset "utf-8";

/*--- Mobile Device ---*/
@media (max-width : 399px ){
}

/*--- Tablet View ---*/
@media (min-width : 400px ) and (max-width : 949px ){
}

/*--- Desktop View ---*/
@media (min-width: 950px){

/*--- Changing Navigation Style Elements ---*/
#header{
	background: transparent;
	transition: 0.4s;
}

#header:hover {
	background: black;
	transition: 0.4s;
}

/*--- Constant Navigation Styling Elements ---*/
.nav{
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	z-index: 120;
}

/*--- Container for navigation ---*/
.menu-box {
	height: 100%;
	justify-content: center;
	align-items: center;
	display: inline-block;
	width: 200px;
	margin: 0;
	padding: 0;
}

/*--- Styling for navigation text ---*/
.menu-name {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	color: #D3D3D3;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top: 35px;
	text-decoration: none;
	transition: 0.5s;
}

/*--- Navigation Hover Text Change ---*/
.menu-box:hover .menu-name {
	color: white;
	transition: .5s;
}

/*--- Nav Color Change ---*/
.black {
	background:black !important;
	transition: 0.4s;
}

}

/*--- Generic Formatting ---*/
html, body {
	margin: 0;
	padding: 0;
}

/*--- Link Formatting ---*/
a:link {
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
	cursor: pointer;
}
