@charset "utf-8";

/*--- Import Font ---*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

/*--- Mobile Device ---*/
@media (max-width : 399px ){
}

/*--- Tablet View ---*/
@media (min-width : 400px ) and (max-width : 949px ){
}

/*--- Desktop View ---*/
@media (min-width: 950px){

/*--- Changing Navigation Style Elements ---*/
#header{
	background: transparent;
	transition: 0.4s;
}

/*--- Constant Navigation Styling Elements ---*/
.nav{
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	z-index: 120;
}

/*--- Container for navigation ---*/
.menu-box, .logo {
	height: 100%;
	justify-content: center;
	align-items: center;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	min-width: 100px;
	margin: 0;
}

/*--- Styling for navigation text ---*/
.menu-name {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	color: #D3D3D3;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top: 37px;
	text-decoration: none;
	transition: 0.5s;
}

/*--- Navigation Hover Text Change ---*/
.menu-box:hover .menu-name, .logo:hover .menu-name{
	color: white;
	transition: .5s;
}

/*--- Nav Color Change ---*/
.black {
	background:black !important;
	transition: 0.4s;
}

/*--- Logo Formatting ---*/
.logo {
	font-size: 25px;
	width: 230px;
	padding-left: 30px;
	padding-right: 20px;
}

/*--- Projects Formatting ---*/
.projects-menu-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	opacity: 0;
	position: fixed;
	top: -1000px;
	z-index: 115;
    /*overflow-y: scroll;*/
	background-color: rgba(0,0,0,.9);
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	transition-delay: 0s;
	
}

.back-container {
	width: 100%;
	height: 60%;
	background: black;
}

.active {
	opacity: 1;
	top: 100px;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	transition-delay: 0s;
}

/*--- Generic Formatting ---*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 110%;
}

/*--- Link Formatting ---*/
a:link {
	text-decoration: none;
	text-decoration-line: none;
	text-decoration-style: initial;
	text-decoration-color: initial;
	cursor: pointer;
}
