<!doctype html>
<html>

<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="icon" href="images/favicon.png"> <!---Favicon 196x196-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="../css/nav.css" rel="stylesheet" type="text/css">
{{ page.sections['css'] }}
</head>

<body>
    <div id="background">
        <div id="header" class="hide">
            <div class="nav">
                <div class="logo-desktop">
                    <a class="logo" href = '../index.html'>
                        <div class="menu-name logo-text">Matt Martin</div>
                    </a>
                </div>
                <div class="logo-mobile hide">
                    <a class="logo" href = '../index.html'>
                        <div class="menu-name logo-text" >MM</div>
                    </a>
                </div>
                <div class="mobile-menu-toggle hide">
                    <div class="menu-toggle background-toggle"></div>
                </div>
                <div class="menu">
                    <a id = "mrover" class="menu-box rover" href="#">
                        <div class="menu-name text-uppercase rover">Mrover</div>
                    </a>
                    <a id = "scouts" class="menu-box" href="#">
                        <div class="menu-name text-uppercase">Scouts</div>
                    </a>
                    <a id = "projects" class="menu-box proj" href="#">
                        <div class="menu-name text-uppercase proj">Projects</div>
                    </a>
                    <a id = "Fun" class="menu-box" style = "min-width:100px;" href="#">
                        <div class="menu-name text-uppercase">Fun</div>
                    </a>
                    <a id = "contact" class="menu-box" href="#">
                        <div class="menu-name text-uppercase">Contact</div>
                    </a>
                </div>
            </div>
            <div class = "projects menu-container">
                <div class = "projects back-container proj">
                    <a class="tile proj"   href="https://github.com/mmartin4972/website">
                        <div class="background-image proj" style="background-image: url('../images/websiteTileBackground.png');">
                            <p class="tile-name text-uppercase proj" style="opacity: 1;">Website</p>
                        </div>
                    </a>
                   <!--Make sure you add transition delay for other divs. See hyperlite's website for details-->
                </div>
            </div>
            <div class = "mrover menu-container">
                <div class = "mrover back-container rover">
                    <a class="tile rover"   href="#">
                        <!--Have been using 40% opacity for background images-->
                        <div class="background-image rover" style="background-image: url('../images/uvTileBackground.png');">
                            <p class="tile-name text-uppercase rover" style="opacity: 1;">UV Obstacle Detection</p>
                        </div>
                    </a>
                </div>
            </div>     
        </div>
        <div class="mobile-dropdown menu-container">
                <div class="mrover dropdown-box menu-box" href="#">
                    <div class="menu-name" style="padding-top: 10px;">MROVER</div>
                </div>
                <a class="dropdown-box menu-box" href="#">
                    <div class="menu-name">SCOUTS</div>
                </a>
                <div class="proj dropdown-box menu-box">
                    <div class="menu-name">PROJECTS</div>
                </div>
                <a class="dropdown-box menu-box" href="#">
                    <div class="menu-name">FUN</div>
                </a>
                <a class="dropdown-box menu-box" href="#">
                    <div class="menu-name">CONTACT</div>
                </a>    
        </div>
        <div class="projects mobile-dropdown menu-container">
            <a class="tile proj"   href="https://github.com/mmartin4972/website">
                <div class="background-image proj" style="background-image: url('../images/websiteTileBackground.png');">
                    <p class="tile-name text-uppercase proj" style="opacity: 1;">Website</p>
                </div>
            </a>
        </div>
        <div class="mrover mobile-dropdown menu-container">
            <a class="tile rover"   href="#">
                <div class="background-image rover" style="background-image: url('../images/uvTileBackground.png');">
                    <p class="tile-name text-uppercase rover" style="opacity: 1;">UV Obstacle Detection</p>
                </div>
            </a>
        </div>
        
        {{ content }}
        
    </div> 
    <script type = "text/javascript" src="../javascript/default.js"></script>
    {{ page.sections['js'] }}
</body>
</html>
